﻿body {
    background: #efefef;
    color: #333333;
}

#container {
    background: #ffffff;
    width: 400px;
    margin: 50px auto;
    border: 1px solid #cccccc;
    padding: 20px;
}

.blue {
    color: #2b579a;
}

.purple {
    color: #80397b;
}

.green {
    color: #217346;
}

.scrollbox {
    overflow-y: auto;
    height: 300px;
}

.hidden {
    display: none;
}

.error {
    color: red;
}
