<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="css/main.css" rel="stylesheet" />
    <title>Guessing Game</title>
</head>

<body>

    <div id="container">
        <p id="gameTitle">Guessing Game</p>

        <p>
            We'll tell you if your guess is
            <strong class="blue">too low</strong> or
            <strong class="purple">too high</strong>.
        </p>

        <button id="startButton" class="hidden">Start</button>

        <div id="gameBoard">
            <div id="guessBox">
                <input id="numberField" type="text" />
                <button id="guessButton">Guess</button>
            </div>
            <div id="results" class="scrollbox"></div>
        </div>
    </div>

    <script id="pageTitleTemplate" type="text/template">
        Guessing Game Between 1 and {{max}}
    </script>
    <script id="gameTitleTemplate" type="text/template">
        Guess a number between 1 and {{max}}.
    </script>
    <script id="lowTemplate" type="text/template">
        <p class="blue">{{currentGuess}} is too low.</p>
    </script>
    <script id="highTemplate" type="text/template">
        <p class="purple">{{currentGuess}} is too high.</p>
    </script>
    <script id="correctTemplate" type="text/template">
        <p class="green">{{currentGuess}} is correct! It took you {{guessCount}} guess{{plural}}.</p>
    </script>
    <script id="invalidTemplate" type="text/template">
        <p class="error">{{message}}</p>
    </script>

    <script src="scripts/jquery-2.1.0.min.js"></script>
    <script src="scripts/handlebars-v1.3.0.js"></script>
    <script src="scripts/game.js"></script>

    <script src="scripts/gameController.js"></script>
</body>
</html>
