<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Guessing Game Between 1 and 100</title>

    <style type="text/css">
        body {
            background: #efefef;
            color: #333333;
        }

        #container {
            background: #ffffff;
            width: 400px;
            margin: 50px auto;
            border: 1px solid #cccccc;
            padding: 20px;
        }

        .blue {
            color: blue;
        }

        .purple {
            color: purple;
        }

        .overflowBox {
            overflow-y: auto;
            height: 300px;
        }
    </style>

</head>

<body>

    <div id="container">
        <p>Guess a number between 1 and 100</p>

        <p>
            We'll tell you if your guess is
            <span class="blue"><strong>too low</strong></span> or
            <span class="purple"><strong>too high</strong></span>.
        </p>

        <input id="numberField" type="text" />
        <button id="guessButton">Guess</button>

        <div id="results" class="overflowBox"></div>
    </div>

    <script id="lowNumberTemplate" type="text/template">
        <ul>
            <li>
                <p class="blue">{{number}} is too low!</p>
            </li>
        </ul>
    </script>
    <script id="highNumberTemplate" type="text/template">
        <p class="purple">{{number}} is too high!</p>
    </script>


    <script src="scripts/jquery-2.1.0.min.js"></script>
    <script src="scripts/handlebars-v1.3.0.js"></script>

    <script>
        var Game = (function () {
            var Game = function (max) {
                var self = this;

                self.max = max;
                self.guessCount = 0;
                self.randomNumber;
                self.currentGuess;

                self.onTooLow = function () { };
                self.onTooHigh = function () { };
                self.onCorrect = function () { };
                self.onStart = function () { };
            }

            Game.prototype.guess = function (number) {
                var self = this;

                number = parseInt(number);

                self.currentGuess = number;
                self.guessCount++;

                if (number < self.randomNumber) {
                    self.onTooLow.call(this, [this]);
                }
                else if (number > self.randomNumber) {
                    self.onTooHigh.call(this, [this]);
                }
                else {
                    self.onCorrect.call(this, [this]);
                }
            };

            Game.prototype.start = function () {
                var self = this;
                self.guessCount = 0;
                self.randomNumber = Math.ceil(Math.random() * self.max);
                self.onStart.call(this, [this]);
            }

            return Game;
        })();
    </script>

    <script type="text/javascript">

        $(function () {
            var game = new Game(100);

            game.onTooLow = function (game) {
                var lowNumberTemplateText = $("#lowNumberTemplate").html();
                var lowNumberTemplate = Handlebars.compile(lowNumberTemplateText);
                $("#results").prepend(lowNumberTemplate({ number: game.currentGuess }));
            };
            game.onTooHigh = function (game) {
                alert("too high");
            };
            game.onCorrect = function (game) {
                alert("correct");
            };
            game.onStart = function (game) {
                $("#results").empty();
            };

            game.start();


            $("#guessButton").on("click", function (e) {
                e.preventDefault();
                var number = $("#numberField").val();
                game.guess(number);
            });
        });

        //var numberField = document.getElementById("numberField");
        //var results = document.getElementById("results");

        //var randomNumber = Math.ceil(Math.random() * 100);

        //var numberOfGuesses = 0;

        //function guess() {

        //    //make sure to clear out the results if it's the first attempt
        //    if (numberOfGuesses == 0) {
        //        results.innerHTML = "";
        //    }

        //    //parse to prevent the user from entering an invalid number

        //    var guessedNumber = parseInt(numberField.value);

        //    if (isNaN(guessedNumber)) {
        //        alert("Please enter a number.");
        //        return;
        //    }

        //    if (guessedNumber > 100 || guessedNumber < 1) {
        //        alert("Please enter a number between 1 and 100");
        //        return;
        //    }

        //    //the guess is valid, increment the guess count
        //    numberOfGuesses++;

        //    //compare the guess to the random number and print out the result


        //    if (guessedNumber < randomNumber) {

        //    }
        //    else if (guessedNumber > randomNumber) {
        //        results.innerHTML = "<p style='color: #80397b'>" + guessedNumber + " is too high!</p>" + results.innerHTML;
        //    }
        //    else {
        //        results.innerHTML = "<p style='color: #217346'>" + guessedNumber + " is correct! It took you " + numberOfGuesses + " guess(es).</p>" + results.innerHTML

        //        //reset the number of guesses
        //        numberOfGuesses = 0;

        //        //get a new random number
        //        randomNumber = Math.ceil(Math.random() * 100);
        //    }
        //}

    </script>


</body>
</html>
